@font-face {
  font-family: 'Sprightly';
  src: url('../fonts/Sprightly.otf') format('opentype');
}

@font-face {
  font-family: 'Dolce';
  src: url('../fonts/Dolce\ Vita.ttf') format('truetype');
}

@font-face {
  font-family: 'DolceLight';
  src: url('../fonts/Dolce\ Vita\ Light.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


html, body {
  padding-top: 40px;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Sprightly';
  font-size: 80px;
}

h2 {
  font-family: 'DolceLight';
  color:#214C4F;
  font-size: 48px;
}

h3 {
  font-family: 'DolceLight';
  color:#214C4F;
  font-size: 18px;
}

a, a:hover, a:active, a:focus, a:visited {
  color: #C23487;
}

.bg-pink {
  color: #C23487;
  border-radius: 4px;
  border: 1px solid #C23487;
}

.bg-pink a {
  color: #214C4F;
}

.bg-pink li {
  color: black;
}

/***********************************************************
 *
 * NAVIGATION
 *
 * ********************************************************/
.navbar {
  background-color: #C23487;
}

.navbar-inverse,.navbar-inverse .navbar-toggle {
	border-color: #fff;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #c25795;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-family: 'DolceLight';
  font-size: 20px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #fff;
  color: #C23487;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #c25795;
  color: #fff;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #c25795;
  color: #fff;
}

.dropdown-menu {
  border: 1px solid #C23487;
}

@media (max-width: 767px){
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
	}
}

/***********************************************************
 *
 * FOOTER
 *
 * ********************************************************/
.footer-distributed {
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	border-top: 1px solid #C23487;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 15px 10px;
	margin-top: 80px;
}

.footer-distributed .footer-left {
	width: 40%;
}

.footer-distributed .footer-left img {
	width: 300px;
	margin: 0 auto;
}

.footer-distributed .footer-center {
	width: 35%;
	font-family: 'DolceLight';
}

.footer-distributed .footer-right {
	width:20%;
}

.footer-distributed .footer-center p,
.footer-distributed .footer-center p a{
	display: inline-block;
	color: #214C4F;
	vertical-align: middle;
	margin: 0;
}

.footer-distributed .footer-center i {
	color: #214C4F;
	font-size: 14px;
	margin: 10px 15px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}

.footer-right .footer-company-about span{
  font-family: 'DolceLight';
	font-size: 21px;
}

.footer-company-about, .footer-company-name {
	color:grey;
}

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/***********************************************************
 *
 * CONTENT
 *
 * ********************************************************/
 .full-screen {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }

#mycarousel {
  margin-top:-40px !important;
}

.carousel-caption h3 {
  display: inline-block;
  padding: 10px;
  background: #C23487;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}


@media (max-width: 993px) {
	.kolibri-container {
		margin-top: 150px;
	}

}

@media (min-width: 787px) {
	.small {
		display: none;
	}
}

@media (max-width: 787px) {
	.kolibri-container {
		margin-top: 0px;
	}

	.small {
		font-size: 30px;
	}

	.big {
		display: none;
	}

	.gradient {
	  height: 100px !important;
  }
}

.index img {
	width:50%;
}

.centered {
  text-align: center;
}

.gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #214C4F, #64EAF6);
}

.text {
  margin-top: 100px;
  font-size: 16px;
}

.kolibri-container span {
  font-family: 'Sprightly';
  color: #214C4F;
  font-size: 28px;
}

.kolibri-container {
  font-size: 16px;
}

.kolibri-container h2 {
  font-size: 30px;
}

.kolibri-container hr{
  margin-bottom: 45px;
  margin-top: 25px;
  border: 0;
  height: 1px;
  background: #214C4F;
  background-image: linear-gradient(to right, #ccc, #214C4F, #ccc);
}

.margin-top {
  margin-top: 80px;
}

.img-filler img{
	width:33%;
	float:left;
	padding:10px;
}

.schnuppertage p, .ueber-mich span {
  font-family: 'DolceLight';
	font-size: 24px;
}

.schnuppertage span, span.gesundheitskurse {
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}

.schnuppertage .time {
	color: #C23487;
	font-size: 18px;
}

.highlight, .fit {
    color:#C23487;
}

span.sonder {
  color:#C23487;
  font-family: 'DolceLight';
	font-size: 24px;
}

.gesund {
  color: #214C4F;
}

td:first-child, tr:first-child {
  color: #64EAF6;
  font-family: 'DolceLight';
  font-size: xx-large;
}

td {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.impressum-distributed .impressum {
	font-family: 'DolceLight';
	display: inline-block;
	vertical-align: top;
}

.impressum-distributed .impressum p,
.impressum-distributed .impressum p a{
	display: inline-block;
	color: #214C4F;
	vertical-align: middle;
	margin: 0;
}

.impressum-distributed .impressum i {
	color: #214C4F;
	font-size: 14px;
	margin: 10px 15px;
}

.img-circle {
	width: 200px;
  height: 200px;
}
